.note-container {
  padding: 10px;
  margin: 20px 0;
  border: 1px solid rgb(169, 169, 169);
  border-radius: 18px;
}

.note-title {
  color: rgb(32, 32, 32);
}

.note-content {
  color: rgb(105, 105, 105);
}

.note-date {
  color: #7f1010;
  font-size: 0.8rem;
}

.delete-button {
  background-color: #f44336; /* Red */
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.delete-button:hover {
  background-color: #d32f2f; /* Darker red */
}
